flask==1.1.1
gunicorn==20.0.4
opencv-python-headless==4.2.0.32
boost==0.1 
cmake==0.7.1
Click>=6.0
dlib>=19.3.0
scipy>=0.17.0
numpy==1.17.2
matplotlib==3.1.1
imutils==0.5.3
requests==2.20.0
scikit-learn==0.20.0
tensorflow==1.15.4
keras==2.2.3
Pillow==7.1.0
keras==2.2.3
jupyter==1.0.0
